.dropbtn {
  background-color: transparent;
  color: white;
  padding: 5px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #82371b;
  min-width: 100%;
  width: 500px;
  padding: 2rem;
  z-index: 1;
  text-align: center;
  margin-top: 1px;
  border-radius: 0px 0px 5px 5px;
}

.dropdown-content a {
  color: #ffffff;
  margin: 0 auto;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  // width: 100%;
}

// .dropdown-content a:hover {
//   background-color: #f1f1f1;
// }

.dropdown:hover .dropdown-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
