.cart-item {
  position: relative;
  display: flex;
  margin: 15px 0px;
  transition: 0.5s;
  box-shadow: 0px 5px 5px 0px #00000018;
  &:hover {
    box-shadow: 0px 5px 5px 0px #0000006f;
  }

  img {
    height: 125px;
    min-width: 125px;
  }

  .item-info {
    align-self: center;
    max-height: 110px;
    width: 100%;
    padding: 0px 20px 0px 30px;
    font-size: 14px;
    span {
      font-size: 8px;
    }
    .quantity {
      font-size: 14px;
    }
    .quantity-icon {
      display: none;
    }

    .trash {
      cursor: pointer;
      width: 15px;
      height: 20px;
      position: absolute;
      right: 10px;
      bottom: 13px;
      transition: 0.3s;
      &:hover {
        fill: #ffffff;
      }
      &:active {
        fill: #a07300;
      }
    }

    p {
      padding: 5px 0;
    }
  }
}
