@import '../../styles/colors';
@import '../../styles/responsive';

.cart-item {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
  border-radius: 5px;
  background-color: $cinza;

  img {
    height: 125px;
    min-width: 125px;
  }

  .item-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    .paragraph {
      padding: 0px 25px;
    }
    span {
      font-size: 8px;
    }
    .quantity {
      padding: 0px 5px;
      font-size: 22px;
    }
    .quantity-icon {
      svg {
        font-size: 18px;
        padding: 0px 10px;
      }
    }

    .trash {
      cursor: pointer;
      font-size: 18px;
      transition: 0.3s;
      &:hover {
        fill: #ffffff;
      }
      &:active {
        fill: #a07300;
      }
    }

    p {
      padding: 5px 0;
    }
  }
}
