/* external css: flickity.css */

.gallery {
  background: #eee;
  width: 80%;
  margin: auto;
}

.gallery-cell {
  width: 100%;
  height: 250px;
  height: 350px;
  margin-right: 0px;
  background: #8c8;
  counter-increment: gallery-cell;
  img {
    border-radius: 10px;
    width: 100%;
    height: 250px;
    height: 350px;
  }
}

// /* cell number */
// .gallery-cell:before {
//   display: block;
//   text-align: center;
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }
