@import '../../styles/colors';
@import '../../styles/responsive';

@include breakpoint('mobile') {
  .gallery {
    width: 100%;
    // margin-top: 100px;
    .gallery-cell {
      width: 100%;
      height: 200px;
      margin-right: 0px;
      margin-top: 10px;
      background: #8c8;
      counter-increment: gallery-cell;
      img {
        border-radius: 0px;
        width: 100%;
        height: 200px;
      }
    }
  }
}
