@import '../../styles/colors';

.superior-container {
  width: 100%;
  height: 10px;
  background-color: $verde;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  padding: 20px 0px;
  margin: 0;

  .superior-link-group {
    list-style: none;
    margin: 0;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      li {
        margin: 0 10px;
        padding-bottom: 2px;
      }
    }
  }
}
