@import '../../styles/colors';
@import '../../styles/responsive';

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
  left: 75vw;
  top: 0px;
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
  padding-top: 50px;
}

.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 20px;
  z-index: 2;

  width: 26px;
  height: 26px;

  cursor: pointer;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: $marrom;

  transition-duration: 0.25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: flex;
  flex-direction: column;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;

  width: 100vw;
  height: 100%;

  margin: 0;
  padding: 80px 0;

  list-style: none;

  background-color: $verde;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);

  transition-duration: 0.25s;
  z-index: 1;

  .login-menu {
    display: flex;
    align-items: center;
    img {
      width: 20px;
      padding-right: 5px;
    }
    a {
      font-size: 14px;
    }
  }

  .menu__item {
    display: block;
    padding: 12px 24px;

    color: #333;

    font-family: 'Roboto', sans-serif;
    font-weight: 600;

    text-decoration: none;

    transition-duration: 0.25s;

    color: $marrom;

    a {
      color: $marrom;
      padding: 10px 0px;
      font-size: 16px;
    }
  }
  .menu__item:hover {
    background-color: #cfd8dc;
  }
}
