@import '../../styles/responsive';

@include breakpoint('mobile') {
  .products {
    // border: 1px solid #efefef;
    gap: 1rem;
  }
  .product-container {
    height: 260px;
    max-width: 140px;
    padding: 10px;

    .product-image {
      img {
        height: 7rem;
        width: 140px;
      }
    }

    .product-description {
      .product-sale p {
        font-size: 10px;
      }
      .product-sale p:first-child {
        font-size: 8px;
      }

      .product-sale-result {
        p {
          font-size: 10px;
        }
      }
    }
  }
}
