@import '../../styles/colors';

.product-container {
  background: $cinza;
  // width: 220px;
  height: 320px;
  margin: 50px 0px;
  cursor: pointer;
  padding: 2rem;
  // &:hover {
  //   transform: scale(1.02);
  //   box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  // }

  .product-icons {
    display: flex;
    justify-content: space-between;
    svg {
      width: 20px;
    }
    svg:first-child {
      fill: $vermelho;
    }
  }

  .product-image {
    img {
      height: 220px;
      width: 200px;
    }
  }

  .product-description {
    text-align: left;
    h4 {
      margin: 20px 0px;
      font-size: 12px;
    }

    .product-prices {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      p {
        margin: 3px 0px;
      }

      .product-sale p:first-child {
        font-size: 10px;
        text-decoration: line-through;
      }

      .product-sale-result {
        text-align: center;
        padding: 1px 3px;
        color: $verde;
        border: 2px solid $verde;
        border-radius: 5px;

        p {
          margin: 0;
        }
      }
    }
  }
}
