.mapa-do-site-wrapper {
  width: 100%;
}

.mapa-do-site-container {
  // width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0px 0px 0px;
}
.mapa-do-site-container {
  border-top: 1px solid #d5d5d5;
  // width: 100%;
  background-color: #fff;
  // background-color: #a8ca64;
  // background-color: #82371b;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: baseline;
  gap: 5px;
  padding: 2px 10%;
  padding: 50px 10%;
  margin: 0px;

  .mapa-do-site-coluna {
    ul {
      list-style: none;
      font-size: 11px;
      text-align: left;
      .coluna-title {
        font-weight: bold;
        font-size: 16px;
        color: #fff;
        color: #000;
      }
      li {
        padding: 5px 0px;
        a {
          font-size: 12px;
          color: #d8d8d8;
          color: #000;
          &:hover {
            color: #a8ca64;
          }
          // color: #82371b;
        }
      }
    }
  }
}
