$verde: #a8ca64;

$verde-escuro: #34a25a;

$marrom: #82371b;

$branco: #ffffff;

$cinza: #f6f6f6;

$cinza-escuro: #c2c2c2;

$vermelho: #ff0000;

$primary: #2196f3;

$secondary: #dde4eb;

$success: #19d895;

$info: #8862e0;

$warning: #ffaf00;

$danger: #ff6258;

$light: #fbfbfb;

$dark: #252c46;
