@import './styles/_colors.scss';

body {
  margin: 0;
  padding: 0;
  color: #282c34;
  background: white;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  max-width: 100vw;
}

a {
  text-decoration: none;
  color: #282c34;
  cursor: pointer;
}

button {
  cursor: pointer;
  border: none;
}

input {
  box-sizing: border-box;
  outline: none;
}

textarea {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
