@import '../../styles/colors';
@import '../../styles/responsive';

@include breakpoint('mobile') {
  .page {
    width: 100%;
    margin: 1rem auto;
    z-index: 1;

    .page--products {
      margin: 10px auto;
      // display: flex;
      .products {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0px 2%;
        gap: 1rem;
        margin: 0px 90px;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;
      }
    }

    .products-category {
      background: #000;
    }
  }
}
