@import '../../styles/colors';

.carrinhobtn {
  background-color: transparent;
  color: white;
  padding: 5px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.carrinho {
  position: relative;
  right: 50px;

  display: inline-block;
}

.carrinho-content {
  display: none;
  position: absolute;
  background-color: #82371b;
  // min-width: 100%;
  width: 250px;
  padding: 1rem;
  z-index: 1;
  text-align: center;
  margin-top: 1px;
  border-radius: 5px;
}

.carrinho-content div button {
  color: $branco;
  padding: 12px 50px;
  font-size: 16px;
  border: none;
  background: $verde;
  &:hover {
    background: $branco;
    color: $verde;
  }
}

// .carrinho-content a:hover {
//   background-color: #f1f1f1;
// }

.carrinho:hover .carrinho-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
